<form action="https://api.web3forms.com/submit" method="POST">
  <input type="hidden" name="access_key" value="3fa86061-242a-4673-980c-2e7ad77df0e6">
  <input type="hidden" name="redirect" value="https://bearden.io/contact/received">
  <input type="checkbox" name="botcheck" class="hidden"><!-- honeypot -->

  <input type="text" name="name" placeholder="Name" required>
  <input type="email" name="email" placeholder="Email" required>
  <textarea name="message" placeholder="Message" required></textarea>

  <!--<div class="h-captcha" data-captcha="true"></div>-->
  <button type="submit">Send</button>
</form>
<!--<script src="https://web3forms.com/client/script.js" async defer></script>-->
