		<footer class="container footer">
			<div class="grid">
				<div class="cell">
					&copy; {{ site.time | date: '%Y' }} <a href="/">Jacob Bearden</a>
				</div>
				<div class="cell float-right">
					<ul class="inline">
						<li>
							<a href="//github.com/jacobbearden">GitHub</a>
						</li>
						<li>
							<a href="//keybase.io/jacobbearden">Keybase</a>
						</li>
						<li>
							<a href="//twitter.com/jacobbearden">Twitter</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
		{% include scripts.html %}
	</body>
</html
