<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% asset favicon %}
  <title>{{ page.title }} – {{ site.title }}</title>

  {% asset main.css %}
</head>

<body>
  <a name="top"></a>

  <nav>
    {% asset me.jpg alt='me' width='128' %}

    <h1>
      {% if page.heading %}
        {{ page.heading }}
      {% else %}
        {{ page.title }}
      {% endif %}

      <small>
        {% if page.layout == 'post' %}
          {{ page.date | date: '%B %-d, %Y'}}
        {% else %}
          {{ page.description }}
        {% endif %}
      </small>
    </h1>

    {% assign pages = site.pages | sort:'url' %}
    {% for p in pages %}
      {% if p.in-nav == true %}
        <a {% if p.url == page.url or (p.url == '/blog/' and page.layout == 'post') %}class="active" {% endif %}href="{{ p.url }}">{{ p.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
