<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico">
  <title>{% if page.url != '/' %}{{ page.title }} – {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>

<body>
  <nav>
    <h1>
      {% if page.heading %}
        {{ page.heading }}
      {% else %}
        {{ page.title }}
      {% endif %}

      <small>
        {% if page.layout == 'post' %}
          {{ page.date | date: '%B %-d, %Y'}}
        {% else %}
          {{ page.description }}
        {% endif %}
      </small>
    </h1>

    {% assign pages = site.pages | sort:'url' %}
    {% for p in pages %}
      {% if p.in-nav == true %}
        <a {% if p.url == page.url or (p.url == '/blog/' and page.layout == 'post') %} class="active" {% endif %} href="{{ p.url }}">{{ p.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
