<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">

<link rel="canonical" href="{{ site.url }}{{ page.url }}">

<meta name="author" content="{{ site.title }}">
<meta name="description" content="{{ site.description }}">

<title>{{ page.title }} &bull; {{ site.title }}</title>
<meta name="theme-color" content="#fff">

<script>
  var host = '{{ site.url | replace:"https://","" }}';
  if ((host == window.location.host) && (window.location.protocol != 'https:')) {
    window.location.protocol = 'https';
  }
</script>

<style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700">
