.container {
  max-width: 750px;
  padding: 0 20px;
}

.header {
  padding: 80px 0 65px 0;
}
.header-icon {
  background-color: $blue;
  border-radius: 50%;
  color: $white;
  font-size: 28px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}
.header-title {
  margin: 20px 0;

  span {
    color: $blue;
  }
}
.header-subtitle {
  color: $grey;
  display: block;
  font-size: 65%;
  margin: 10px 0;
}

.nav {
  height: 50px;
  line-height: 50px;
}
.nav-link {
  line-height: 24px;
}

.page, .post {
  padding: 0 0 65px 0;
}

.highlight code {
  white-space: pre;
}

.footer {
  color: $grey;
  padding: 20px 0;
}
