// Shame
// http://csswizardry.com/2013/04/shame-css/
// -------------------------

.container {
	max-width: 650px;
}

.header {
	margin: 120px auto 80px auto;
}
@media (max-width: 650px) {
	.header {
		margin-top: 60px
	}
}

.header-subtitle {
	color: $grey;
}

.footer {
	color: $grey;
	margin-bottom: 30px;

	a {
		color: inherit;
	}
}

.page, .post {
	margin-bottom: 80px;
	text-align: justify;
}

img {
	max-width: 100%;
}

.highlight code {
	padding: 0;
	white-space: pre;
}
