@font-face {
	font-family: 'Noto Mono';
	src: local('Noto Mono'), local('NotoMono'),
		url(asset_path('NotoMono.woff2')) format('woff2'),
		url(asset_path('NotoMono.woff')) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Bold'), local('NotoSans-Bold'),
		url(asset_path('NotoSans-Bold.woff2')) format('woff2'),
		url(asset_path('NotoSans-Bold.woff')) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans'), local('NotoSans'),
		url(asset_path('NotoSans.woff2')) format('woff2'),
		url(asset_path('NotoSans.woff')) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
		url(asset_path('NotoSans-BoldItalic.woff2')) format('woff2'),
		url(asset_path('NotoSans-BoldItalic.woff')) format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Italic'), local('NotoSans-Italic'),
		url(asset_path('NotoSans-Italic.woff2')) format('woff2'),
		url(asset_path('NotoSans-Italic.woff')) format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Bold'), local('NotoSerif-Bold'),
		url(asset_path('NotoSerif-Bold.woff2')) format('woff2'),
		url(asset_path('NotoSerif-Bold.woff')) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif'), local('NotoSerif'),
		url(asset_path('NotoSerif.woff2')) format('woff2'),
		url(asset_path('NotoSerif.woff')) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'),
		url(asset_path('NotoSerif-BoldItalic.woff2')) format('woff2'),
		url(asset_path('NotoSerif-BoldItalic.woff')) format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Italic'), local('NotoSerif-Italic'),
		url(asset_path('NotoSerif-Italic.woff2')) format('woff2'),
		url(asset_path('NotoSerif-Italic.woff')) format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
