@charset 'utf-8';

@import 'lib/modern-normalize.min';

body {
  margin: auto;
  padding: 3rem 1rem;
  max-width: 40rem;
  color: #333;
}

a {
  color: #0074d9;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &[href*='//']:not([href*='bearden.io'])::after {
    content: '\21E2 ';
    display: inline-block;
    position: relative;
    margin: 0px .4em 0px .3rem;
    padding-left: .2em;
    height: 9px;
    width: 9px;
    font-size: .8em;
    font-weight: 100;
    line-height: 8px;
    color: #aaa;
    border: 1px dotted #aaa;
  }
}

footer {
  margin-top: 3rem;
  color: #aaa;

  span {
    display: block;
  }
}

small {
  font-size: 1rem;
  font-weight: normal;
  color: #aaa;
}