@charset 'utf-8';

@import 'lib/modern-normalize.min';

body {
  margin: auto;
  padding: 3rem 1rem;
  max-width: 36rem;
  color: #111;

  moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #0074d9;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &[href*='//']:not([href*='bearden.io'])::after {
    content: '\21E2';
    display: inline-block;
    position: relative;
    margin: 0px .4em 0px .3rem;
    padding-left: .2em;
    height: 9px;
    width: 9px;
    font-size: .8em;
    font-weight: 100;
    line-height: 8px;
    color: #aaa;
    border: 1px dotted #aaa;
  }
}

nav {
  a {
    &.active {
      color: #111;
    }
  }
}

main, article {
  margin-top: 3rem;
}

footer {
  margin-top: 3rem;
  color: #aaa;

  span {
    display: block;
  }
}

small {
  font-size: 1rem;
  font-weight: normal;
  color: #aaa;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

@media (max-width: 575.98px) {
  small {
    display: block;
  }
}
