---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>

	<body>
		<header class="container header">
			<div class="grid">
				<div class="cell">
					<h1 class="header-title">
						{{ page.title }}
					</h1>

					<h2 class="header-subtitle">
						— {{ page.date | date: '%Y %b %d' }}
					</h2>
				</div>

				<div class="cell float-right">
					<nav class="nav nav-inline">
						{% assign pages = site.pages | sort:"url" %}
						{% for p in pages %}
							{% if p.in-nav == true  %}
								<a class="nav-link {% if p.url == '/blog/' %}active{% endif %}" href="{{ p.url }}">{{ p.title }}</a></li>
							{% endif %}
						{% endfor %}
					</nav>
				</div>
			</div>
		</header>

		<article class="container post">
			{{ content }}
		</article>

		<footer class="container footer">
			{% include footer.html %}
		</footer>
	</body>
</html>
